
<div class ="container">
  <h3>
  Your Information
  </h3>
  <div class="col-4">
  <div>
    Employee ID: {{account.id}}
  </div>
  <div>
    Title: {{account.title}}
  </div>
  <div>
      SSN: {{account.ssn | number:'9.0'}}
  </div>
  <div>
      Firstname: {{account.firstname}}
  </div>
  <div>
      Lastname: {{account.lastname}}
  </div>
  <div> 
    <label>
      Email:
      <input type="text" class="form-control" [(ngModel)]="account.email" placeholder="">
    </label>
  </div>
  <div>
    <label>
      Birthdate:
      <input type="date" class="form-control" [(ngModel)]="account.birthdate" placeholder="">
    </label>
  </div>
  <div>
    <label>
      Phone:
      <input type="text" class="form-control" [(ngModel)]="account.phone" placeholder="">
    </label>
  </div>
  <div>
    <label>
      Street Address:
      <input type="text" class="form-control" [(ngModel)]="account.stAddress" placeholder="">
    </label>
  </div>
  <div>
    <label>
      City:
      <input type="text" class="form-control" [(ngModel)]="account.city" placeholder="">
    </label>
  </div>
  <div>
    <label>
      State:
      <input type="text" class="form-control" [(ngModel)]="account.state" placeholder="">
    </label>
  </div>
  <div>
    <label>
      Country:
      <input type="text" class="form-control" [(ngModel)]="account.country" placeholder="">
    </label>
  </div>
  <div>
  <label>
    Zipcode:
    <input type="text" class="form-control" [(ngModel)]="account.zipcode" placeholder="">
  </label>  
  </div>
  </div>
  <button (click)="onSubmit()" type="submit" class="btn">
    Update My Info
  </button> 

  
  <button (click)="toSubmitRequest()" class="btn">
    Submit Reimbursement Request
  </button>
  <button (click)="toViewOwnRequests()" class="btn">
    View My Reimbursement Requests
  </button>
  <div *ngIf="account.isManager">
    <button (click)="toViewOthersRequests()" class="btn">
      View All Reimbursement Requests
    </button>
    <button (click)="toViewEmployees()" class="btn">
      View All Employees
    </button>
  </div>
</div>
