<form (ngSubmit)="onSubmit()" #requestForm="ngForm">
  <div>
    {{error}}
  </div>
  <div class="row">
    <div class="col-4">
      <label for="amount">Reimbursement Amount:</label>
      <input type="text" class="form-control" id="amount"
	     required
	     [(ngModel)]="amount" name ="amount">

      <label for="type">Reimbursement Type:</label>  
      <select name="type" class="form-control" id="type"
	      [(ngModel)]="rType" name ="type">
	<option value="training">training</option>
	<option value="travel">travel</option>
	<option value="food">food</option>
	<option value="incidentals">incidentals</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-success"
	  [disabled]="!requestForm.form.valid">
    Submit Reimbursement Request
  </button>
</form>
