<form (ngSubmit)="onSubmit()" #selectRequests="ngForm">
  <div class="row">
    <div class="col-4">
      <label for="employee">Employee Username:</label>
      <input type="text" class="form-control" id="employee"
	     [(ngModel)]="employee" name ="employee">
  &emsp;
      <label for="status">Select Reimbursement Status:</label>  
      <select name="status" class="form-control" id="status"
	      [(ngModel)]="status" name ="status">
	<option value="all" selected>all</option>
	<option value="pending" selected>pending</option>
	<option value="resolved">resolved</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-success"
	  [disabled]="!selectRequests.form.valid">
    Submit
  </button>
</form>
<hr>
<table class="table">
  <tr>
    <td>
      Submitter ID
    </td>
    <td>
      Time Submitted
    </td>
    <td>
      Amount
    </td>
    <td>
      Type  
    </td>
    <td>
      Status
    </td>
    <td>
      Resolver ID
    </td>
  </tr>
  <tr *ngFor="let request of requests">
    <td>{{request.submitterId}}</td>
    <td>{{request.timeSubmitted | date:"medium"}}</td>
    <td>{{request.amount | currency}}</td>
    <td>{{request.type}}</td>
    <td>{{request.status}}</td>
    <td>{{request.resolverId}}</td>
    <td>
      <button *ngIf="request.status === 'pending'" (click)="onApprove(request.id)" type="approve" class="btn">
      Approve
    </button>
    </td>
    <td>
      <button *ngIf="request.status === 'pending'" (click)="onDeny(request.id)" type="deny" class="btn">
	Deny
      </button>
    </td>
  </tr>
</table>
