<table class="table table-condensed">
  <tr>
    <td>
      Employee ID
    </td>
    <td>
      Email
    </td>
    <td>
      Firstname
    </td>
    <td>
      Lastname
    </td>
    <td>
      Title
    </td>
    <td>
      Manager ID
    </td>
    <td>
      Birthdate
    </td>
    <td>
      phone
    </td>
    <td>
      Street Address
    </td>
    <td>
      City
    </td>
    <td>
      State
    </td>
    <td>
      Country
    </td>
    <td>
      Zipcode
    </td>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>
      {{employee.id}}
    </td>
    <td>
      {{employee.email}}
    </td>
    <td>
      {{employee.firstname}}
    </td>
    <td>
      {{employee.lastname}}
    </td>
    <td>
      {{employee.title}}
    </td>
    <td>
      {{employee.managerId}}
    </td>
    <td>
      {{employee.birthdate}}
    </td>
    <td>
      {{employee.phone}}
    </td>
    <td>
      {{employee.stAddress}}
    </td>
    <td>
      {{employee.city}}
    </td>
    <td>
      {{employee.state}}
    </td>
    <td>
      {{employee.country}}
    </td>
    <td>
      {{employee.zipcode}}
    </td>
  </tr>
</table>
