<nav>
  <img src="assets/Revature_icon.jpg" alt="Revature" width="200">
  <hr>
  <h2>
    Expense Reimbursement System
  </h2>
  <div>
  <router-outlet name="nav_outlet">
  </router-outlet>
  </div>
</nav>
<hr>
<router-outlet>
</router-outlet>
