<form (ngSubmit)="onSubmit()" #loginForm="ngForm">

  <div>
    {{error}}
  </div>
  <div class="row">

    <div class = "col-4">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username"
	   required
	   [(ngModel)]="username" name ="username">
    </div>
    <div class="col-8">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="password">Password:&nbsp;</label>
      <input type="password" class="form-control" id="password"
	     required
	     [(ngModel)]="password" name ="password">
    </div>
    <div class="col-8">
    </div>
  </div>
  <div>
      <button type="submit" class="btn btn-success"
	  [disabled]="!loginForm.form.valid">
	Log In
      </button>
  </div>
</form>
